.label {
  margin: 0px 5px 10px 5px;
  padding-bottom: 10px;
  text-decoration: none;
  font-size: 1.0em;
}

button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  margin: 10px 5px 0px 5px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
}

button:hover {
  background-color: #cfd8dc;
}
