<div *ngIf="songNote" class="container">

	<h2>{{songNote.song.name | uppercase}}</h2>

	<!-- <div><span class="label">ID: </span>{{song.id}}</div> -->
	<!-- <div> <span class="label">Name: </span>{{song.name}}</div> -->
	<div class="grid-container">
		<div class="grid-item-left">
			<label class="label">Bad Horns: </label>
		</div>
		<div class="grid-item-right">
			<input type="checkbox" [(ngModel)]="songNote.badHorns" class="regular-checkbox" />
			<span class="checkmark"></span>
		</div>
		<div class="grid-item-left">
			<label class="label">Bad Rhythm: </label>
		</div>
		<div class="grid-item-right">
			<input type="checkbox" [(ngModel)]="songNote.badRhythm" class="regular-checkbox" />
			<span class="checkmark"></span>
		</div>
		<div class="grid-item-left">
			<label class="label">Bad Vocals: </label>
		</div>
		<div class="grid-item-right">
			<input type="checkbox" [(ngModel)]="songNote.badVocals" class="regular-checkbox" />
			<span class="checkmark"></span>
		</div>
		<div class="grid-item-left">
			<label class="label">Bad Start: </label>
		</div>
		<div class="grid-item-right">
			<input type="checkbox" [(ngModel)]="songNote.badStart" class="regular-checkbox" />
			<span class="checkmark"></span>
		</div>
		<div class="grid-item-left">
			<label class="label">Bad End: </label>
		</div>
		<div class="grid-item-right">
			<input type="checkbox" [(ngModel)]="songNote.badEnd" class="regular-checkbox" />
			<span class="checkmark"></span>
		</div>
	</div>

	<div class="grid-container">
		<div class="grid-item-left">
			<label><span class="label">Notes:</span></label>
		</div>
		<div class="grid-item-right">
			<textarea [(ngModel)]="songNote.notes" rows="4" cols="20" placeholder="notes..."></textarea>
		</div>
	</div>

</div>

<div>
	<button (click)="save()">Save</button>
</div>

<div>
	<button (click)="goBack()">Go Back</button>
</div>
