.label {
  text-decoration:none;
  font-size: 1.0em;
}

button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  margin: 10px 5px 0px 5px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
}

button:hover {
  background-color: #cfd8dc;
}

.regular-checkbox {
	-webkit-appearance: none;

  height: 25px;
  width: 25px;
  background-color: #eee;
}

.regular-checkbox:checked {
	background-color: #2196F3;
}

.regular-checkbox:hover {
	background-color: #cfd8dc;
}

.regular-checkbox:checked:hover {
	background-color: #05B;
}

.regular-checkbox:checked:after {
	content: '\2714';
	font-size: 25px;
	position: relative;
	top: -5px;
	left: 3px;
	color: #FFF;
  height: 25px;
  width: 25px;
}

.container {
  display: inline-block;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

.grid-item-left {
  padding: 5px;
  text-align: left;
}

.grid-item-right {
  padding: 5px;
  text-align: right;
}
